{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ project.title }} - Project details</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    
<h1>{{ project.title }}</h1>
<div class="row">
    <div class="col-md-8">
        {% if project.image %}
            <img src="{{ project.image.url }}" width="100%">

        {% endif %}
    </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.description|default:"No description available." }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology|default:"No technology specified." }}</p>
        <br>
        {% if project.github_link %}
        <a href="{{ project.github_link }}" class="btn btn-primary" target="_blank">View on GitHub</a>
        {% else %}
        <p>No Github Link available</p>
        {% endif %}
        
    </div>
</div>
</body>
</html>